.form-container {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-container .form-group-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.form-container .form-group-container mat-form-field{
    flex: 1 1;
}

.form-group form {
    display: flex;
    flex-direction: column;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-holder button {
    flex: 1 1;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
        padding: 20px ;
    }
}

@media screen and (max-width: 380px) {
    .button-holder {
        flex-direction: column;
        gap: 10px;
    }

    .button-holder button {
        flex: unset;
        width: 100%;
    }

    .form-container .form-group-container {
        flex-direction: column;
        gap: unset;
    }
}
