.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 15px;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}

mat-dialog-actions button {
    width: 40%;
}
