<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-toolbar-menu></app-toolbar-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="hamburger-menu-wrapper">
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="main-navigation">
                <ul class="navigation-items">
                    <li *ngIf="!user">
                        <a routerLink="/">Login</a>
                    </li>
                    <li *ngIf="!user">
                        <a routerLink="/signup">Register</a>
                    </li>
                    <li *ngIf="user">
                        <a routerLink="/gas">Gas</a>
                    </li>
                    <li *ngIf="user">
                        <a routerLink="/" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
