.main-navigation .navigation-items {
    display: flex;
    gap: 30px
}

.main-navigation .navigation-items li {
    list-style: none;
}

.main-navigation .navigation-items li a {
    text-decoration: none;
    color: white;
}

.custom-toolbar {
    display: flex;
    justify-content: space-between;
}

.hamburger-menu-wrapper {
    display: none;
}

mat-sidenav {
    width: 50%;
}

@media screen and (max-width: 576px) {
    .hamburger-menu-wrapper {
        display: block;
    }

    .main-navigation .navigation-items {
        display: none;
    }
}
