.form-container {
    display: flex;
    flex-direction: column;
}

.form-group > mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}

mat-dialog-actions button {
    width: 40%;
}
