<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>country</mat-label>
        <input matInput formControlName="country">
    </mat-form-field>

    <mat-form-field>
        <mat-label>state</mat-label>
        <input matInput formControlName="state">
    </mat-form-field>

    <mat-form-field>
        <mat-label>city</mat-label>
        <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field>
        <mat-label>street</mat-label>
        <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field>
        <mat-label>house</mat-label>
        <input matInput formControlName="houseNumber">
    </mat-form-field>
    <button mat-flat-button color="primary">Add</button>
</form>
