/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: azure;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
}

html, body {
    height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh
}

app-root > * {
    flex: 1 1 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
    position: fixed;
    z-index: 999;
    height: 1em;
    width: 1em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader.backdrop::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
}

.mini-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.error {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gas-meter-container, .address-container, .billing-container {
    width: 75%;
    margin: 30px auto;
    padding-right: 20px;
    padding-left: 20px;
}

.gas-meter-container mat-expansion-panel-header,
.address-container mat-expansion-panel-header,
.billing-container mat-expansion-panel-header{
    font-size: 26px;
}

.gas-meter-container mat-expansion-panel-header mat-panel-description,
.address-container mat-expansion-panel-header mat-panel-description,
.billing-container mat-expansion-panel-header mat-panel-description {
    font-size: 20px;
}

.gas-meter-container mat-expansion-panel-header > span,
.address-container mat-expansion-panel-header > span,
.billing-container mat-expansion-panel-header > span {
    height: 100%;
    align-items: center;
}

.gas-meter-container mat-expansion-panel-header > span.mat-expansion-indicator ,
.address-container mat-expansion-panel-header > span.mat-expansion-indicator ,
.billing-container mat-expansion-panel-header > span.mat-expansion-indicator  {
    height: unset;
}

mat-expansion-panel-header mat-panel-title {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mat-headline-4 {
    margin-bottom: 15px !important;
}

.loader-container {
    margin: 0 auto;
}

.meter-detail-container, .address-detail-container, .billing-detail-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.meter-detail-container .data,
.address-detail-container .data,
.billing-detail-container .data {
    font-size: 20px;
    display: flex;
    gap: 15px;
}

.meter-detail-container .data.icon-holder,
.address-detail-container .data.icon-holder,
.billing-detail-container .data.icon-holder {
    align-items: center;
}

.meter-detail-container .data .attribute-header,
.address-detail-container .data .attribute-header,
.billing-detail-container .data .attribute-header {
    font-weight: 500;
    text-decoration: underline;
}

.billing-detail-container .attribute-value {
    display: flex;
    flex-direction: column;
}

.attribute-value .holder {
    padding-top: 5px;
}

.icon-holder {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.container {
    display: flex;
}

.container .icon-holder {
    margin-left: auto;
    align-self: center;
}

.current-position {
    display: none;
}

.dialog-panel {
    width: 60%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 15px;
}

.form-group > mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: center !important;
}

mat-dialog-actions button {
    width: 40%;
}

@media screen and (max-width: 772px) {
    .gas-meter-container, .address-container, .billing-container  {
        width: 100%;
    }
    .dialog-panel {
        width: 75%;
    }
}

@media screen and (max-width: 575px) {
    .billing-detail-container .data,
    .address-detail-container .data,
    .meter-detail-container .data {
        flex-direction: column;
    }

    .dialog-panel {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .meter-detail-container, .address-detail-container, .billing-detail-container {
        position: unset;
    }
    .icon-holder {
        position: unset;
        right: unset;
    }
}

@media screen and (max-width: 480px) {
    .icon-holder {
        flex-direction: column;
    }
    .gas-meter-container mat-expansion-panel-header mat-panel-description,
    .address-container mat-expansion-panel-header mat-panel-description,
    .billing-container mat-expansion-panel-header mat-panel-description {
        display: none !important;
    }

    .current-position {
        display: flex;
    }

    .form-group {
        flex-direction: column;
        gap: unset;
    }
}

@media screen and (max-width: 390px) {
    .container {
        flex-direction: column;
    }

    mat-dialog-actions {
        gap: 10px;
        flex-direction: column;
    }

    mat-dialog-actions button {
        width: 100%;
        margin-left: 0 !important;
    }

    .container .icon-holder {
        margin-top: 30px;
        align-self: start;
        margin-left: 0;
        flex-direction: row;
    }
}

